.drawer-wrap {
  .drawer {
    top: 0;
    right: 0;
    left: auto;
    flex: 1 0 auto;
    height: 100%;
    display: flex;
    outline: 0;
    z-index: 1000;
    position: fixed;
    overflow-y: auto;
    flex-direction: column;

    background-color: #ffffff;
    width: 100%;
    max-width: 464px;
    flex-shrink: 0;

    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 225ms cubic-bezier(0, 0, 0.2, 1) 0ms;

    &-hidden {
      visibility: hidden;
      width: 240px;
      transform: translateX(240px);
      flex-shrink: 0;
      transition: 325ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    }

    &-animate {
      visibility: visible;
      transform: none;
      box-shadow: -8px 0px 16px rgba(0, 0, 0, 0.06), -4px 0px 10px rgba(0, 0, 0, 0.08);
    }
  }
}
