.reactour {
  &-step {
    margin-bottom: 0;
    vertical-align: middle;
    &-kickoff-survey {
      width: 24vw;
    }
    &-learning-path,
    &-course-catalog {
      display: inline-block;
      width: 41vw;
      & + div {
        display: inline-block !important;
        margin-top: 0 !important;
        vertical-align: middle;
      }
    }
  }
  &-button {
    white-space: nowrap;
    font-style: normal;
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-base;
    line-height: $line-height-base;
    padding: 0.625rem 1rem;
    border: none;
    border-radius: $btn-border-radius;

    &-next {
      background: $white;
      color: $dark-500;
      &:after {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 7px 0 7px 11px;
        border-color: transparent transparent transparent $dark-500;
      }
      &:hover {
        opacity: 0.9;
      }
      span {
        padding-right: 0.75rem;
      }
    }
    &-prev {
      background: transparent;
      color: $white;
      border: 1px solid $light-300;
      margin: 0 1rem 0 1.5rem;
      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }
  &-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: $white;
    z-index: 999999;
    display: flex;
    border-bottom: 2px solid $light-200;
    padding: 1.75rem 0;
    justify-content: center;
    &-title {
      margin: 0.75rem 1rem;
      font-weight: $font-weight-bold;
      font-size: $h3-font-size;
      line-height: 1.125;
    }
    &-button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0.625rem 1rem;
      border: 1px solid $light-300;
      border-radius: $btn-border-radius;
      color: $white;
      background: transparent;
      font-weight: $font-weight-semi-bold;
      font-size: $font-size-base;
      line-height: $line-height-base;
      &:hover {
        background: rgba(255, 255, 255, 0.1);
      }
    }
  }
}
